body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.btn {
    display: block;
    background: #2563eb;
    color: white;
    padding: 15px;
    margin: 15px 0;
    text-align: center;
    border-radius: 12px;
    font-size: 20px;
    text-decoration: none;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.card h2 {
    margin: 0;
}

.monto {
    font-size: 22px;
    font-weight: bold;
}

.estado {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.estado.aldia {
    background: #dcfce7;
    color: #166534;
}

.estado.atrasado {
    background: #fee2e2;
    color: #991b1b;
}

.estado.adelantado {
    background: #e0f2fe;
    color: #075985;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 15px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #ccc;
}

.acciones {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.acciones .btn {
    flex: 1;
    margin: 0;
    padding: 15px;
    font-size: 18px;
}